<h1 class="fst-italic mb-3 bg-secondary-subtle p-2 text-center rounded-3">
  Articoli
</h1>
<div
  class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4"
  *ngIf="postArr.length > 0"
>
  <div class="card" *ngFor="let post of postArr">
    <div class="card-header">
      <span>{{ post.id }}</span
      >{{ post.title }}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{ post.body }}</p>
        <footer class="blockquote-footer">
          {{ post.tags }}<cite title="Source Title">{{ post.userId }}</cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
